#CV {
    border-style: dashed;
    border-style: white;
    text-align: right;
    position: absolute;
    left: 76.2%;
    top: 53.6%;  
    transform: translate(-50%, -50%); 
    width: 47%;
    height: 39.8%;
}


.CVToReturn {
    position: fixed;
    top: -1em;
    right:0em;
}

.CVToReturn:hover {
    cursor: pointer;
}

.Frog-back-image-cv {
    /* height: auto; */
    position: fixed;
    left: 21em; 
    top: 17em; 
}