#CV {
    position: absolute;
    right: 0vw;
    top: 10vw;  
    width: 50vw;
    height: 30vw;
}

.Frog-Back {
    width: 10vw;
    height: auto;
}

.CVToReturn {
    position: fixed;
    margin-top: 1vw;
    top: 9.5vw;
    right: 1vw;
    height: 0.8vw;
    width: 1.9vw;
    font-size: 0.5vw;
    padding: 0;
}

.Photo {
    width: 8vw;
    height: auto;
}

.Frog-back-image-cv {
    position: fixed;
    right: 12vw; 
    top: 30vw; 
}

.DescriptionAboutMe {
    width: 29vw;
    height: auto;
    font-size: 0.7vw;
    text-align: left;
    right: 20vw;
    position: fixed;
    top: 11vw;
}

.skills-section {
  width: 30vw;
  font-size: 0.8vw;
  margin-top: 6.5vw ;
  font-family: 'Georgia', serif;
  text-align: left;
  padding: 0.1vw;
  margin-left: 0.6vw;
}

.skills-section h2 {
  font-size: 0.8vw;
  font-weight: bold;
  color: #734d30;
  border-bottom: 2px solid #a56328;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.skills-section tr > td {
  font-size: 0.8vw;

  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.skills-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8vw;
  border: 1px solid #ccc;
}


.ContactMeLinks {
    text-decoration: none;
    color: rgb(138, 123, 254);
    margin: 0.5vw;
    margin-top: -0.5vw;
}

.Email{
    margin-bottom: -0.5vw;
}

.ContactMeLinks:hover {
    color: rgb(117, 104, 213);
}

.ContactList {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* text-align: center; */
}

.ContactDetails {
    position: absolute;
    top: 22.5vw;
    right: 0.5vw;
    /* width: vw; */
    height: auto;
    font-size: 0.7vw;
}

.Photo {
    position: absolute;
    top: 10vw;
    right: 26vw;
    border: solid 0.2vw;
    height: auto;
    border-color: rgb(133, 67, 20);
    border-radius: 80%;  
}
