#CV-route{
    text-decoration: none;
}

.Frog {
    /* background-image: url("./imgs/frog_front_preview_rev_1.png");
    background-repeat: no-repeat; */
    height: auto;
    width: 1.5em;
    position:relative;
    left: 41.5em;
    top: 18.3em;
    
    /* top: -40%; */
  }

  /* .Frog-moving-buttons{
    position: fixed;
    top: 20%;
  } */