.Frog {
  position: absolute;
  left: 47.4vw;
  top: 24.7vw;
}

.Project-Title {
  width: 30vw;
  height: auto;
  position: absolute;
  left: 35.5vw;
  top: 1vw;
}

.NavButtons {
  position: absolute;
  left: 42vw;
  top: 7vw;
  display: flex;
  flex-direction: row;
}

.Froggy-homepage-image {
  width: 9vw;
  height: auto;
}

#Project-Button {
  margin: 0.7em;
  transform: scale(1);
  transition: transform 0.5s;
  
}
.Project-images {
  height: auto;
  width: 6.5vw;
}

.CV-images {
  height: auto;
  width: 8.2vw;
}
#CV-Button {
  margin: 0.7em;
  transform: scale(1);
  transition: transform 0.5s;
  height: auto;
  width: 5vw;
}

#CV-Button:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
  filter: drop-shadow(0.5px 2px 1px #222);
}

#Project-Button:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
  filter: drop-shadow(0.5px 2px 1px #222);
}