/* .Frog {
  height: auto;
  width: 1.5em;
  position: absolute;
  left: 41.5em;
  top: 32.5em;
}

.Project-Title {
  position: absolute;
  left: 32.5em;
  top: 10em;
}

.NavButtons {
  position: absolute;
  left: 38.5em;
  top: 17em;
  display: flex;
  flex-direction: row;
}

#Project-Button {
  margin: 0.7em;
  transform: scale(1);
  transition: transform 0.5s;
}

#CV-Button {
  margin: 0.7em;
  transform: scale(1);
  transition: transform 0.5s;
}

#CV-Button:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
  -webkit-filter: drop-shadow(0.5px 2px 1px #222);
  filter: drop-shadow(0.5px 2px 1px #222);
}

#Project-Button:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
  -webkit-filter: drop-shadow(0.5px 2px 1px #222);
  filter: drop-shadow(0.5px 2px 1px #222);
} */
/* 
.Name {
  position: fixed;
  width: 100px;
} */

.Frog {
  /* height: 50%; */
  /* width: 10%; */
  position: absolute;
  left: 46.4%;
  top: 53.4%;
  /* overflow: hidden; */
}

.Project-Title {
  position: absolute;
  left: 36%;
  top: 15%;
}

.NavButtons {
  position: absolute;
  left: 51%;
  top: 24%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}

#Project-Button {
  margin: 0.7em;
  transform: scale(1);
  transition: transform 0.5s;
}

#CV-Button {
  margin: 0.7em;
  transform: scale(1);
  transition: transform 0.5s;
}

#CV-Button:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
  filter: drop-shadow(0.5px 2px 1px #222);
}

#Project-Button:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
  filter: drop-shadow(0.5px 2px 1px #222);
}