#Project {
    position: absolute;
    left: 0vw;
    top: 19vw; 
}


.Frog-back-image-projects {
    /* height: auto; */
    position: absolute;
    left: 13.5vw; 
    top: 17.5vw; 
}

.Projects {
  list-style: none;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%; 
  padding: 0 5vw; 
  margin: 0;
}

.ProjectToReturn {
    position: absolute;
    right: 35.5vw;
    top: -1vw; 
}

.ProjectToReturn:hover {
    cursor: pointer;
}

.Frog-Back-Image-Projectboard {
    width: 8.5vw;
    height: auto;
}

