.Project-info {
    text-align: center;
    border: 0.1em solid;
    margin-top: 5px;
    margin-left: 5px;
    
    margin-bottom: -5em;
    text-decoration: none;
}

.LinkTitle {
    background-color: rgb(41, 40, 40);
    border-top: 0.1em solid;
}

.Project-image{
    bottom: -0.2em;
}

.GitHubLink {
    margin: -0.1em;
    text-decoration: none;
    color: rgb(230, 216, 198);
}

hr {
    margin: -0.1em; 
}

.GitHubLink:hover {
    
    color: rgb(191, 179, 163);
}

.ProjectTitle {
    /* border-top: 5px; */
    margin: -0.1em;
    /* margin-bottom: -0.5em; */
    color: rgb(251, 239, 223);
}

hr {
    color: rgb(251, 239, 223);
}