.Project-info {
    text-align: center;
    margin-top: 0.2vw;
    margin-left: 0.2vw;
    border: 0.101vw solid;
    margin-bottom: -5vw;
    text-decoration: none;
}

.LinkTitle {
    background-color: rgb(41, 40, 40);
    border-top: 0.101vw solid;
}

.Project-image{
    width: 14vw;
    height: auto;
    border: 0.101vw solid;

}

.GitHubLink {
    margin: -0.1vw;
    text-decoration: none;
    color: rgb(230, 216, 198);
}

hr {
    margin: -0.1vw; 
}

.GitHubLink:hover {
    
    color: rgb(191, 179, 163);
}

.ProjectTitle {
    /* border-top: 5px; */
    margin: -0.1vw;
    /* margin-bottom: -0.5em; */
    color: rgb(251, 239, 223);
    font-size: 1vw;
}

hr {
    color: rgb(251, 239, 223);
}