.Project-info {
  text-align: center;
  margin-top: 0.2vw;
  margin-left: 0.2vw;
  border: 0.101vw solid;
  margin-bottom: -5vw;
  text-decoration: none;
  background-color: black;
  border-radius: 0.2vw;
}

.LinkTitle {
  background-color: rgb(41, 40, 40);
  border-bottom-left-radius: 0.1vw;
  border-bottom-right-radius: 0.1vw;
  border-top: 0.101vw solid;
}

.Project-image{
  height: 8vw;
  border: 0.101vw solid;
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
}

.GitHubLink {
  margin: -0.1vw;
  text-decoration: none;
  font-size: 0.8vw;
  color: rgb(230, 216, 198);
}

.ProjectDetails {
  display: none;
  color: antiquewhite;
  font-size: 0.5vw;
  width: 100%;
  text-align: left;
}

.ProjectDetailsUl {
  padding: 0;
  margin: 0;
  list-style-type: disc; 
  list-style-position: inside; 
}

.li-detail {
  margin-bottom: 0.2vw;
  width: 100%;
}

hr {
  margin: -0.1vw; 
  color: rgb(251, 239, 223);
}

.GitHubLink:hover {
  cursor: pointer;
  color: rgb(191, 179, 163);
}

/* Show ProjectDetails when hovering over the entire Project-info */
.Project-info:hover .ProjectDetails  {
  display: block; 
}

.Project-info:hover ~ .Frog-back-image-projects .Frog-Back-Image-Projectboard {
  display: none; 
}
.ProjectTitle {
  margin: -0.1vw;
  color: rgb(251, 239, 223);
  font-size: 0.8vw;
}
