.button {
  position: right;
}
#NavBar {
  text-align: left;
}


.Background {
  position: fixed;
  top: -9.2em;
  left: 0;
  width: 100%;
  height: 118%;
  background-image: url("./imgs/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rednering-pages{
  margin-top: 6%;
}
 
.Background.zoomright.out {
  transform-origin: right;
  transition: transform 1.5s;
  transform: scale(1);
} 
 
.Background.zoomleft.out {
  transform-origin: 1% 68%;
  transition: transform 1.5s;
  transform: scale(1);
} 

.Background.zoomright {
  transform-origin: right;
  transition: transform 1.5s;
  transform: scale(2.1);
}

.Background.zoomleft {
  transform-origin: 1% 68%;
  transition: transform 1.5s;
  transform: scale(2.1);
}
