.button {
  position: right;
}
#NavBar {
  text-align: left;
}

.Background {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 57vw;
  background-image: url("./imgs/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Background.zoomright.out {
  transform-origin: 100vw 20vw;
  transition: transform 1.5s;
  transform: scale(1);
} 
 
.Background.zoomleft.out {
  transform-origin: 0vw 35vw;
  transition: transform 1.5s;
  transform: scale(1);
} 

.Background.zoomright {
  transform-origin: 100vw 20vw;
  transition: transform 1.5s;
  transform: scale(2);
}

.Background.zoomleft {
  transform-origin: 0vw 35vw;
  transition: transform 1.5s;
  transform: scale(2);
}
