

body{
  background-image: url(./imgs/playaround.jpg) ;
  background-size: cover ;
  
}

#Title {
  text-align: right;
  color:  aqua;
  
}

#NavBar {
  text-align: left;
}

  

head {
  background-color: gray;
}


